##-------------------------------------------------------------------------------------------------------- 
#set( $_ = "$" ) 
##-------------------------------------------------------------------------------------------------------- 
## Key fields = fields in Primary Key     
#set( $keyFields = $entity.keyAttributes ) 
##-------------------------------------------------------------------------------------------------------- 
## Data fields = fields not in Primary Key and not in selected Links     
#set( $dataFields = $entity.nonKeyAttributes ) 
##-------------------------------------------------------------------------------------------------------- 
## #set( $itemVariable = $fn.uncapitalize($entity.name) ) 
#set( $itemVariable = $fn.uncapitalize($entity.name) )
##--------------------------------------------------------------------------------------------------------
<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
<%@taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>
<div class="container-fluid">
	<form action="" class="form-horizontal" onsubmit="return false;">
#foreach( $field in $entity.attributes )
#if( !$field.isAutoIncremented())
		<div class="form-group">
			<label class="control-label col-sm-2" for="srch_$fn.toLowerCase($field.databaseName)">$field.databaseComment</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="srch_$fn.toLowerCase($field.databaseName)" name="srch_$fn.toLowerCase($field.databaseName)" placeholder="$field.databaseComment" onkeydown="checkEnter(this.event);"/>
			</div>
		</div>
#end ## auto
#end ## foreach
		<div class="form-group pull-right hhj-search-btn">
			<button type="button" class="btn btn-info" id="btn_search">
				<span class="glyphicon glyphicon-search"></span> hhj_btn_search
			</button>
		</div>
	</form>
</div>
<div class="container-fluid" id="grid_container">
	<table id="tbody"></table>
	<div id="paginate"></div>
</div>
<div class="container-fluid hhj-content-detail">
	<form action="" class="form-horizontal" id="frmDetail" name="frmDetail" method="post" onsubmit="return false;">
#foreach( $field in $entity.attributes )
#if( $field.isAutoIncremented())
		<input type="hidden" class="form-control" id="$fn.toLowerCase($field.databaseName)" name="$fn.toLowerCase($field.databaseName)" maxlength="$field.databaseSize" />
#end
#if( !$field.isAutoIncremented())
		<div class="form-group">
			<label for="$fn.toLowerCase($field.databaseName)" class="control-label col-sm-2">$field.databaseComment</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="$fn.toLowerCase($field.databaseName)" name="$fn.toLowerCase($field.databaseName)" maxlength="$field.databaseSize" />
			</div>
		</div>
#end
#end
	</form>
</div>

<script type="text/javascript" src="${_}{pageContext.request.contextPath}/script/${entity.name}/${entity.name}.js"></script>
<script type="text/javascript" src="${_}{pageContext.request.contextPath}/script/common/hhj_defaultContent.js"></script>
<script type="text/javascript">
	$(document).ready(function() {

	});
</script>