##-------------------------------------------------------------------------------------------------------- 
#set( $_ = "$" )
##-------------------------------------------------------------------------------------------------------- 
## Key fields = fields in Primary Key
#set( $keyFields = $entity.keyAttributes ) 
##-------------------------------------------------------------------------------------------------------- 
## Data fields = fields not in Primary Key and not in selected Links
#set( $dataFields = $entity.nonKeyAttributes ) 
##-------------------------------------------------------------------------------------------------------- 
## #set( $itemVariable = $fn.uncapitalize($entity.name) ) 
#set( $itemVariable = $fn.uncapitalize($entity.name) )
##--------------------------------------------------------------------------------------------------------
// search param
var search_set = 
	{
		url : "../common/doSelect.do",
		postData : {
			action : '${entity.databaseTable}.doSelect'
#foreach( $field in $entity.attributes )
#if( !$field.isAutoIncremented())
			,srch_$fn.toLowerCase($field.databaseName) : ''
#end
#end
		},
	};

function setSearchValue() {
#foreach( $field in $entity.attributes )
#if( !$field.isAutoIncremented())
	search_set.postData.srch_$fn.toLowerCase($field.databaseName) = $('#srch_$fn.toLowerCase($field.databaseName)').val();
#end
#end
}

$(document).ready(function() {
	setSearchValue();
	
	$("#tbody").jqGrid({
		styleUI : "Bootstrap",
		datatype : "json",
		url : search_set.url,
		postData : search_set.postData,
		mtype : "POST", 
		colNames : [ 'NO'#foreach( $field in $entity.attributes ),'$field.databaseComment'#end],
		jsonReader : {
			page : 'page',
			total : 'total',
			root : 'rows',
			records : function(obj) {
				return obj.length;
			},
			repeatitems : false,
			cell : '',
			id : 'RNUM'
		},
		colModel : [ {name : 'rnum',	   	index : 'rnum',		    width : 0, 		sortable : false,	align : 'center', 	hidden : true}
#foreach( $field in $entity.attributes )
					,{name : '$field.name',		index : '$field.name',		width : 0,	sortable : false,	align : 'center',		hidden : false}  
#end		             
		],
//		pager : '#tbodyPager',
		rowNum : 10,
		rowList:[10,20,30],
		height: 345,
//		sortable:true,
//		sortname:'AA',
//		sortorder:"desc",
		gridview: true,
//		caption : 'caption',
//		autowidth : true,
		rownumbers: true,
	    rownumWidth : 40,
		viewrecords : true,
		loadComplete: function(data) {
			initPage("tbody", "paginate", data);
		},
		onSelectRow: function (nId) {
			detail(nId);
		}
	});
	hhj_resizeJqGridWidth('tbody', 'grid_container', $('#grid_container').width());

	btnBind();
	initTableDetail();
});

// button binding
function btnBind()
{
	$("#btn_search").bind("click",function() {
		doSearch(1); 
	});
}

// init - Detail
function initTableDetail()
{
#foreach( $field in $entity.attributes )
	$("#$fn.toLowerCase($field.databaseName)").val("$field.databaseDefaultValue");
#if(!$field.isAutoIncremented() && $field.isKeyElement())
	$("#$fn.toLowerCase($field.databaseName)").prop('readonly', false);
#end
#if( $fn.toLowerCase($field.databaseName) == "updt_dt" || $fn.toLowerCase($field.databaseName) == "updusr_sn")
	$("#$fn.toLowerCase($field.databaseName)").prop('readonly', true);
#end
#end

#foreach( $field in $entity.attributes )
#if( !$field.isAutoIncremented())
	$("#$fn.toLowerCase($field.databaseName)").prop('readonly', true);
#end
#end
}

// doSearch
function doSearch()
{
	setSearchValue();
	
	$("#tbody").clearGridData();		
	$("#tbody").jqGrid('setGridParam', {
		page : 1,
		url : search_set.url,
		postData : search_set.postData,
	}
	).trigger("reloadGrid");
	
	initTableDetail();
}

// list  Detail
function detail(nId)
{
    $.ajax({
        type: "POST",
        url: "../common/doSelectDetail.do",
        data: {
        	action : '${entity.databaseTable}.doSelectDetail'
#foreach( $field in $entity.KeyAttributes )
        	, $fn.toLowerCase($field.databaseName) : $("#tbody").getCell(nId,'$field.name')
#end
        },
        dataType: 'json',
        error: function(){
            alert(alertSelectMsg());
        },
        success: function(jdata){doDetailCallback(jdata);}
    });
}

// list - Detail Callback
function doDetailCallback(jData)
{
	var response = jData.response[0];

	initTableDetail();

#foreach( $field in $entity.attributes )
#if( $fn.toLowerCase($field.databaseName) == "updt_dt")
	$("#$fn.toLowerCase($field.databaseName)").val(dateToFormat(response.$field.name));
#else
	$("#$fn.toLowerCase($field.databaseName)").val(response.$field.name);
#end
#end
}