##-------------------------------------------------------------------------------------------------------- 
#set( $_ = "$" )
##-------------------------------------------------------------------------------------------------------- 
## Key fields = fields in Primary Key
#set( $keyFields = $entity.keyAttributes ) 
##-------------------------------------------------------------------------------------------------------- 
## Data fields = fields not in Primary Key and not in selected Links
#set( $dataFields = $entity.nonKeyAttributes ) 
##-------------------------------------------------------------------------------------------------------- 
## #set( $itemVariable = $fn.uncapitalize($entity.name) ) 
#set( $itemVariable = $fn.uncapitalize($entity.name) )
##--------------------------------------------------------------------------------------------------------
package ${target.javaPackageFromFolder(${SRC})};

import java.util.Map;

import javax.annotation.Resource;

import org.apache.log4j.Logger;
import org.springframework.stereotype.Controller;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RequestParam;
import org.springframework.web.bind.annotation.ResponseBody;

import Session.SessionUtil;
import hhj.service.hhjService;
import hhj.service.${entity.name}.${entity.name}Service;

/**
 * 
 * @author	: hhj
 * @Date	: $today.date("yyyy. MM. dd.")
 * @version	: 1.0
 * @see		: 
 *
 */
@Controller
public class ${entity.name}Controller {
	@Resource(name = "hhjService")
	private hhjService service;

	@Resource(name = "${entity.name}Service")
	private ${entity.name}Service ${itemVariable}Service;

	Logger log = Logger.getLogger(this.getClass());

	@RequestMapping("/${entity.name}/doInsert.do")
	public @ResponseBody Map<String, Object> doInsert(@RequestParam Map<String, Object> param) {
		log.debug("hhj - /${entity.name}/doInsert.do");
		
		int cnt = -1;
		String isSuccess = "fail";
		
		try {
			param.put("updusr_sn", SessionUtil.getUserSn());
			cnt = ${itemVariable}Service.insert(param);
		} catch (Exception e) {
			// TODO Auto-generated catch block
			e.printStackTrace();
		}
		
		isSuccess = cnt > -1 ? "succ" : "fail";
		param.put("isSuccess", isSuccess);
		
		return param;
	}
	
	@RequestMapping("/${entity.name}/doUpdate.do")
	public @ResponseBody Map<String, Object> doUpdate(@RequestParam Map<String, Object> param) {
		log.debug("hhj - /${entity.name}/doUpdate.do");
		
		int cnt = 0;
		String isSuccess = "fail";
		
		try {
			param.put("updusr_sn", SessionUtil.getUserSn());
			cnt = ${itemVariable}Service.update(param);
		} catch (Exception e) {
			// TODO Auto-generated catch block
			e.printStackTrace();
		}
		
		isSuccess = cnt > 0 ? "succ" : "fail";
		param.put("isSuccess", isSuccess);
		
		return param;
	}
	
	@RequestMapping("/${entity.name}/doDelete.do")
	public @ResponseBody Map<String, Object> doDelete(@RequestParam Map<String, Object> param) {
		log.debug("hhj - /${entity.name}/doDelete.do");
		
		int cnt = 0;
		String isSuccess = "fail";
		
		try {
			param.put("updusr_sn", SessionUtil.getUserSn());
			cnt = ${itemVariable}Service.delete(param);
		} catch (Exception e) {
			// TODO Auto-generated catch block
			e.printStackTrace();
		}
		
		isSuccess = cnt > 0 ? "succ" : "fail";
		param.put("isSuccess", isSuccess);
		
		return param;
	}
}
