<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE sqlMap PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN" "http://ibatis.apache.org/dtd/sql-map-2.dtd">

<sqlMap namespace="${entity.databaseTable}">
	<sql id="where_clause">
		WHERE	1 = 1
#foreach( $field in $entity.attributes )
#if( !$field.isAutoIncremented())
			<isNotEmpty property="srch_$fn.toLowerCase($field.databaseName)">
			<![CDATA[
			AND	$field.databaseName LIKE CONCAT('%', #srch_$fn.toLowerCase($field.databaseName)#, '%')
			]]>
			</isNotEmpty>
#end
#end
	</sql>

	<select id="doSelect" parameterClass="java.util.HashMap"  resultClass="egovMap">
		SELECT A.*
		FROM (
			SELECT
#foreach( $field in $entity.attributes )
#if( $foreach.count == 1)
				$field.databaseName
#else 
				,$field.databaseName
#end
#end ## foreach				
				,@ROWNUM := @ROWNUM + 1 AS RNUM
			FROM	$fn.toUpperCase(${entity.databaseTable})
					,(SELECT @ROWNUM := 0) R
			<include refid="where_clause" />
		) A
		<![CDATA[
    	WHERE	A.RNUM  >= #START_ROW# 
    		AND	A.RNUM <= #END_ROW#
		]]>
	</select>

	<select id="doSelectCnt" parameterClass="java.util.HashMap" resultClass="int">
		SELECT	COUNT(*)
	    FROM	$fn.toUpperCase(${entity.databaseTable})
		<include refid="where_clause" />
	</select>

	<select id="doSelectDetail" parameterClass="java.util.HashMap"  resultClass="egovMap">
		SELECT
#foreach( $field in $entity.attributes )
#if( $foreach.count == 1)
				$field.databaseName
#else
				,$field.databaseName
#end
#end
		FROM	$fn.toUpperCase(${entity.databaseTable})
		WHERE	
#foreach( $field in $entity.KeyAttributes )
#if( $foreach.count == 1)
				$field.databaseName = #$fn.toLowerCase($field.databaseName)#
#else 
			AND	$field.databaseName = #$fn.toLowerCase($field.databaseName)#
#end
#end
	</select>

#set ( $cnt = 0 )
	<insert id="doInsert" parameterClass="java.util.HashMap">
		<![CDATA[
		INSERT INTO ${entity.databaseTable} (
#foreach( $field in $entity.attributes )
#if( !$field.isAutoIncremented())
#if( $cnt == 0 )
			$field.databaseName
#set ( $cnt = 1 )
#else
			,$field.databaseName
#end
#end ## autoincrement
#end		)
		VALUES (
#set ( $cnt = 0 )
#foreach( $field in $entity.attributes )
#if( !$field.isAutoIncremented())
#if( $cnt == 0 )
#if( $fn.toLowerCase($field.databaseName) == "updt_dt" )
			SYSDATE() + 0
#else 
			#$fn.toLowerCase($field.databaseName)#
#end
#set ( $cnt = 1 )
#else
#if( $fn.toLowerCase($field.databaseName) == "updt_dt" )
			,SYSDATE() + 0
#else
			,#$fn.toLowerCase($field.databaseName)#
#end ## updt_dt
#end ## cnt == 0
#end ## auto
#end		)
		]]>
		<selectKey keyProperty="test" resultClass="int">
			SELECT	COUNT(*) + 1
			FROM 	$fn.toUpperCase(${entity.databaseTable})
		</selectKey>
	</insert>
	
	<update id="doUpdate" parameterClass="java.util.HashMap" >
		UPDATE	${entity.databaseTable}
		SET
#foreach( $field in $entity.nonKeyAttributes )
#if( $foreach.count == 1 )
#if( $fn.toLowerCase($field.databaseName) == "updt_dt" )
				$field.databaseName = SYSDATE() + 0
#else 
				$field.databaseName = #$fn.toLowerCase($field.databaseName)#
#end
#else
#if( $fn.toLowerCase($field.databaseName) == "updt_dt" )
				,$field.databaseName = SYSDATE() + 0
#else 
				,$field.databaseName = #$fn.toLowerCase($field.databaseName)#
#end
#end
#end
		WHERE	
#foreach( $field in $entity.KeyAttributes )
#if( $foreach.count == 1 )
				$field.databaseName = #key_$fn.toLowerCase($field.databaseName)#
#else
			AND	$field.databaseName = #key_$fn.toLowerCase($field.databaseName)#
#end
#end
	</update>

	<delete id="doDelete" parameterClass="java.util.HashMap" >
		<![CDATA[
		DELETE
		FROM	$fn.toUpperCase(${entity.databaseTable})
		WHERE	
#foreach( $field in $entity.KeyAttributes )
#if( $foreach.count == 1 )
				$field.databaseName = #key_$fn.toLowerCase($field.databaseName)#
#else
			AND	$field.databaseName = #key_$fn.toLowerCase($field.databaseName)#
#end
#end
		]]>
	</delete>
</sqlMap>