/* 검색 폼의 오른쪽 버튼 패딩 적용 */
.hhj-search-btn {
	padding-right: 15px;
}

/* 윈도우 화면 크기 변경시 가로 스크롤 생기는데 안생기게.. */
.ui-jqgrid .ui-jqgrid-bdiv {
	position: relative;
	margin: 0em;
	padding: 0;
	/*overflow: auto; */
	overflow-x: hidden;
	overflow-y: auto;
	text-align: left;
}

.hhj-content-header {
	padding-top: 10px;
}

.hhj-content-detail {
	padding-top: 10px;
	padding-bottom: 10px;
}

#wini_submit_ing {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  filter: alpha(opacity=40);
  opacity: 0.40;
  *zoom: 1;
  overflow: hidden;
  background:#ccc;
}

#wini_window_mask_cont{
    width: 200px;
    height: 50px;
    position: absolute;
    text-align:center;
    top: 50%;
    margin-top: -25px;
    margin-left: -25px;    
    left: 50%;
}