#set ( $referencedEntity = "" )

// search param
#foreach( $entityReferencing in $model.allEntites )
#foreach ( $fk in $entity.databaseForeignKeys)
#if("$entityReferencing.databaseTable" == "${fk.referencedTableName}")
#set ( $referencedEntity = $model.getEntityByTableName("${fk.referencedTableName}") )
var search_set = 
	{
		url : "../common/doSelect.do",
		postData : {
			ACTION : '${entity.databaseTable}.doSelect$referencedEntity'
## 테이블의 FK컬럼 - 마스터테이블의 컬럼
#foreach( $fkcol in $fk.columns )
#set($col = $fkcol.columnName)
#set($refcol = $fkcol.referencedColumnName)
#end ## foreach
## 마스터테이블 컬럼
#foreach($field in $entityReferencing.attributes)
## hhj.database = $field.databaseName
#if( ($refcol != $field.databaseName) && !$field.isAutoIncremented())
			,S_$field.databaseName : ''
#end 
#end ## foreach
## 참조 테이블 컬럼
#foreach($field in $entity.attributes)
#if( !$field.isAutoIncremented())
			,S_$field.databaseName : ''
#end
#end ## foreach
#end 
#end 
#end ## model.allEntites
		},
	};


function setSearchValue() {
#foreach( $entityReferencing in $model.allEntites )
#foreach ( $fk in $entity.databaseForeignKeys)
#if("$entityReferencing.databaseTable" == "${fk.referencedTableName}")
## 테이블의 FK컬럼 - 마스터테이블의 컬럼
#foreach( $fkcol in $fk.columns )
#set($col = $fkcol.columnName)
#set($refcol = $fkcol.referencedColumnName)
#end ## foreach
## 마스터테이블 컬럼
#foreach($field in $entityReferencing.attributes)
## hhj.database = $field.databaseName
#if( ($refcol != $field.databaseName) && !$field.isAutoIncremented())
	search_set.postData.S_$field.databaseName = jQuery('#S_$field.databaseName').val();
#end 
#end ## foreach
## 참조 테이블 컬럼
#foreach($field in $entity.attributes)
#if( !$field.isAutoIncremented())
	search_set.postData.S_$field.databaseName = jQuery('#S_$field.databaseName').val();
#end
#end## foreach
#end
#end
#end
}

$(document).ready(function() {
	setSearchValue();
	
	jQuery("#tbody").jqGrid({
		styleUI : "Bootstrap",
		datatype : "json",
		url : search_set.url,
		postData : search_set.postData,
		mtype : "POST", 
		colNames : [ 'NO'#foreach( $entityReferencing in $model.allEntites )#foreach ( $fk in $entity.databaseForeignKeys)#if("$entityReferencing.databaseTable" == "${fk.referencedTableName}")#foreach( $fkcol in $fk.columns )#set($col = $fkcol.columnName)#set($refcol = $fkcol.referencedColumnName)#end#foreach($field in $entityReferencing.attributes)#if( $refcol != $field.databaseName),'$field.databaseName'#end#end#foreach($field in $entity.attributes),'$field.databaseName'#end#end#end#end],
		jsonReader : {
			page : 'page',
			total : 'total',
			root : 'rows',
			records : function(obj) {
				return obj.length;
			},
			repeatitems : false,
			cell : '',
			id : 'RNUM'
		},
		colModel : [ {name : 'RNUM',	   	index : 'RNUM',		    width : 0, 		sortable : true,	align : 'center', 	hidden : true}
#foreach( $entityReferencing in $model.allEntites )
#foreach ( $fk in $entity.databaseForeignKeys)
#if("$entityReferencing.databaseTable" == "${fk.referencedTableName}")
#foreach( $fkcol in $fk.columns )
#set($col = $fkcol.columnName)
#set($refcol = $fkcol.referencedColumnName)
#end ## foreach
## 마스터테이블 컬럼
#foreach($field in $entityReferencing.attributes)
## hhj.database = $field.databaseName
#if( $refcol != $field.databaseName)
					,{name : '$field.databaseName',		index : '$field.databaseName',		width : 0,		align : 'center',		hidden : false}
#end
#end
## 참조 테이블 컬럼
#foreach($field in $entity.attributes)
					,{name : '$field.databaseName',		index : '$field.databaseName',		width : 0,		align : 'center',		hidden : false}
#end ## foreach
#end 
#end 
#end ## model.allEntites
		],
//		pager : '#tbodyPager',
		rowNum : 10,
		rowList:[10,20,30],
		height: 370,
		sortable:true,
//		sortname:'AA',
//		sortorder:"desc",
		gridview: true,
//		caption : 'caption',
//		autowidth : true,
		rownumbers: true,
	    rownumWidth : 40,
		viewrecords : true,
		loadComplete: function(data) {
			initPage("tbody", "paginate", data);
		},
		onSelectRow: function (nId) {
			detail(nId);
		}
	});
	hhj_resizeJqGridWidth('tbody', 'grid_container', $('#grid_container').width());

	btnBind();
	initTableDetail();
});

// button binding
function btnBind()
{
	jQuery("#btn_init").bind("click",doInit);		
	jQuery("#btn_search").bind("click",doSearch);
	jQuery("#btn_insert").bind("click",doInsert);    
	jQuery("#btn_update").bind("click",doUpdate);    
	jQuery("#btn_delete").bind("click",doDelete);    
}

// init
#set ( $cnt = 0 )
function doInit()
{
	initTableDetail();
#foreach( $field in $entity.attributes )
#if( !$field.isAutoIncremented() && $cnt == 0)
	jQuery("#$field.databaseName").focus();
#set ( $cnt = 1 )
#end
#end
}

// init - Detail
function initTableDetail()
{
#foreach( $field in $entity.attributes )
#if( !$field.isAutoIncremented())
	jQuery("#$field.databaseName").val("$field.databaseDefaultValue");
#end
#end		

	btnStatus(0,1,1);
}

// doSearch
function doSearch()
{
	setSearchValue();
	
	jQuery("#tbody").clearGridData();		
	jQuery("#tbody").jqGrid('setGridParam', {
		page : 1,
		url : search_set.url,
		postData : search_set.postData,
	}
	).trigger("reloadGrid");
	
	initTableDetail();
}

// list  Detail
function detail(nId)
{
#foreach( $field in $entity.KeyAttributes )
	var $field.databaseName = jQuery("#tbody").getCell(nId,'$field.databaseName');

    $.ajax({
        type: "POST",
        url: "../common/doSelectDetail.do",
        data: {
        	ACTION : '${entity.databaseTable}.doSelectDetail$referencedEntity'
        	, $field.databaseName : $field.databaseName
        },
        dataType: 'json',
        error: function(){
            alert('조회중 오류가 발생하였습니다.');
        },
        success: function(jdata){doDetailCallback(jdata);}
    });
#end
}

// list - Detail Callback
function doDetailCallback(jData)
{
	var response = jData.response[0];

	initTableDetail();

#foreach( $field in $entity.attributes )
#if( $field.databaseName == "UPDT_DT")
	jQuery("#$field.databaseName").val(dateToFormat(response.$field.databaseName));
#else
	jQuery("#$field.databaseName").val(response.$field.databaseName);
#end 
#end

	btnStatus(1,0,0);
}

#set( $cnt = 0)
// not null check
function IUDcheckValue() {
#foreach( $field in $entity.attributes )
#if($field.isDatabaseNotNull() && !$field.isAutoIncremented())
#if( $cnt > 0 )
	else if(jQuery("#$field.databaseName").val().length == 0)
#end
#if( $cnt == 0 )
	if(jQuery("#$field.databaseName").val().length == 0)
#set ( $cnt = 1)
#end
	{
		alert("$field.databaseName 를 입력하십시오.");
		jQuery("#$field.databaseName").focus();
		return false;
	}
#end
#end

	return true;
}

// iud ajax
function IUDdoAjax(actionData, url, uid) {
	var frmData = $("#frmDetail").serialize();
	
	var ajax_set =
    {
		data: frmData + actionData,
        url:url,
        return_fn:function(jdata){doIUDCallback(jdata, uid);}
    }

    ajax(ajax_set, uid);
}

// insert
function doInsert()
{
	if(!IUDcheckValue()) return;
	
	var actionData = '&ACTION=${entity.databaseTable}.doInsert$referencedEntity';
	var url = '../common/doInsert.do';
	var uid = 'I';
	
	IUDdoAjax(actionData, url, uid);
}

// update
function doUpdate()
{	
	if(!IUDcheckValue()) return;
	
	var actionData = '&ACTION=${entity.databaseTable}.doUpdate$referencedEntity';
	var url = '../common/doUpdate.do';
	var uid = 'U';
	
	IUDdoAjax(actionData, url, uid);
}

// delete
function doDelete()
{
	if(!IUDcheckValue()) return;
	
	var actionData = '&ACTION=${entity.databaseTable}.doDelete$referencedEntity';
	var url = '../common/doDelete.do';
	var uid = 'D';
	
	IUDdoAjax(actionData, url, uid);
}

// iud callback
function doIUDCallback(jData, iud) {
	var result = jData.isSuccess;
	var msg = "";
	
	if(iud=="I") msg = "등록";
	else if(iud=="U") msg = "수정";
	else if(iud=="D") msg = "삭제";
	
	
	if (result == "SUCC")
	{
		alert(msg + "되었습니다.");
	
		initTableDetail();
		doSearch();
	}
	else if (result == "FAIL")
	{
		if(iud=="D") alert(msg + "가 실패했습니다.");
		else alert(msg + "이 실패했습니다.");
	}
}