#---------------------------------------------------------
# Specific templates configuration file
# 4 values separated by ";"
# . value 1 : the label
# . value 2 : the file to be generated ( var allowed : ${BEANNAME}, ${BEANNAME_UC}, ${BEANNAME_LC} )
# . value 3 : the project folder where to generate ( var allowed : ${BEANNAME}, ${BEANNAME_UC}, ${BEANNAME_LC} )
# . value 4 : the template to use
# . value 5 : number of execution : "1" for "ONCE" for all entities, default is multiple executions ( executed for each entity )
#---------------------------------------------------------
# Since v 2.0 the project's variables can be used in file and folder name
#---------------------------------------------------------


JSP			;	${BEANNAME}.jsp			;	${WEB}/WEB-INF/jsp/${BEANNAME}		;	hhj-jsp-mysql-read-templates2.vm		;	*
JS			;	${BEANNAME}.js			;	${WEB}/script/${BEANNAME}			;	hhj-js-mysql-read-templates2.vm			;	*
JSP_IUD		;	${BEANNAME}IUD.jsp		;	${WEB}/WEB-INF/jsp/${BEANNAME}		;	hhj-jsp-iud-mysql-read-templates2.vm	;	*
JS_IUD		;	${BEANNAME}IUD.js		;	${WEB}/script/${BEANNAME}			;	hhj-js-iud-mysql-read-templates2.vm		;	*
SQLMAP		;	sql-map-${BEANNAME}.xml	;	${RES}/hhj/sqlmap/config/mysql		;	hhj-sqlmap-mysql-read-templates2.vm		;	*
QUERY		;	${BEANNAME}_SQL.xml		;	${RES}/hhj/sqlmap/query/mysql		;	hhj-sql-mysql-read-templates2.vm		;	*
EX   		; 	${BEANNAME}EX.java 		; 	${SRC}/hhj/controller    			; 	hhj-ex.vm 								; 	1